@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using YesNoPuzzle.Models
@model ICollection<Game>
@if (Model != null)
{
    foreach (Game g in Model)
    {           
            <h2>
                @g.GameName
            </h2>               
            
        if (g.Questions != null && g.Questions.Count > 0)
        {
            <h3>Questions:</h3>
            <br />
            for (int i = 0; i < g.Questions.Count; i++)
            {
                <h4 class="col-lg-3">@(i + 1): @g.Questions[i].Text</h4>
                <h5>@g.Questions[i].QuestionDate</h5>
                <form asp-controller="Admin" method="post" display="inline">                 
                    <a href="/Admin/AnswerYes/@g.Questions[i].Id" class="btn btn-info" role="button">Yes</a>
                    <a href="/Admin/AnswerNo/@g.Questions[i].Id" class="btn btn-danger" role="button">No</a>
                    <a href="/Admin/AnswerNoMatter/@g.Questions[i].Id" class="btn btn-default" role="button">No matter</a>                                    
                    <a href="/Admin/DeleteQuestion/@g.Questions[i].Id" class="btn btn-danger" role="button">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </form>
              <form asp-controller="Admin" asp-action="GameOver" method = "post" class="form-horizontal col-lg-offset-3">               
                <input type="hidden" name="id" value="@g.Id" />
                <input type="hidden" name="userName" value="@g.Questions[i].UserName" />
                  <button class="btn btn-success">Game Over</button>  
              </form>
              <hr/>
            }
}
        else
        {
           
            <h5>No questions yet for this game.</h5>
        }
    }
}
else
{
    <h1>You are not logged as admin!</h1>
}
