@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using YesNoPuzzle.Models
@{
    ViewData["Title"] = "Home Page";
}
@model YesNoPuzzle.Models.GameViewModels.GameViewModel

@{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>@Model.Game.GameName</h2>
        </div>
        <div class="panel-body">
            <h4>@Model.Game.GameCondition</h4>
        </div>
    </div>


    <hr />

    if (Model.Questions != null && Model.Questions.Count > 0)
    {
        <h4>Questions:</h4>

        foreach (var q in @Model.Questions)
        {
            @if (q.State == 0)
            {
                <div class="alert alert-dismissable">
                    @q.Text
                    <span class="glyphicon glyphicon-hourglass col-lg-1"></span>
                </div>
            }
            else if (q.State == 1)
            {
                <div class="alert alert-success">
                    @q.Text
                    <span class="glyphicon glyphicon-ok col-lg-1"></span>
                </div>
            }
            else if (q.State == 2)
            {
                <div class="alert alert-danger">
                    @q.Text
                    <span class="glyphicon glyphicon-remove col-lg-1"></span>
                </div>
            }
            else if (q.State == 3)
            {
                <div class="alert alert-info">
                    @q.Text
                    <span class="glyphicon glyphicon-question-sign col-lg-1"></span>
                </div>
            }
        }
    }
    else
    {
        <h4>No questions yet.</h4>
    }


    <div class="input-group">
        <form asp-controller="Home" asp-action="AddNewQuestion" method="post" class="navbar-form navbar-left">
            <div class="form-group">
                <textarea class="form-control" asp-for="@Model.Text" rows="2"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span><br />
                <input type="hidden" asp-for="@Model.GameId" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Ask</button>
            </div>

        </form>
    </div>
}
