@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using YesNoPuzzle.Models
@{
    ViewData["Title"] = "Home Page";
}
@model YesNoPuzzle.Models.GameViewModels.GameViewModel
<body style="margin: 20px">
    @{

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@Model.Game.GameName</h2>
            </div>
            <div class="panel-body">
                <h4>@Model.Game.GameCondition</h4>
            </div>
        </div>

        <hr />
        if (Model.Questions != null && Model.Questions.Count > 0)
        {

            <h4>Questions:</h4>

            foreach (var q in @Model.Questions)
            {
                @if (q.State == 0)
                {
                    <div class="alert alert-dismissable">
                        @q.Text
                        <span class="glyphicon glyphicon-hourglass col-lg-1"></span>
                    </div>
                }
                else if (q.State == 1)
                {
                    <div class="alert alert-success">
                        @q.Text
                        <span class="glyphicon glyphicon-ok col-lg-1"></span>
                    </div>
                }
                else if (q.State == 2)
                {
                    <div class="alert alert-danger">
                        @q.Text
                        <span class="glyphicon glyphicon-remove col-lg-1"></span>
                    </div>
                }
                else if (q.State == 3)
                {
                    <div class="alert alert-info">
                        @q.Text
                        <span class="glyphicon glyphicon-question-sign col-lg-1"></span>
                    </div>
                }
            }
        }
        else
        {
            <h3>No questions yet</h3>
        }


        @if (Model.Game.GameState)
        {
            <form asp-controller="Home" asp-action="AddNewQuestion" method="post" class="form-horizontal">
                <div class="form-group" style="margin-left: 1px">
                    <textarea class="form-control" asp-for="@Model.Text" rows="3" style="max-width: 50%; resize: none"></textarea>
                    <input type="hidden" asp-for="@Model.GameId" />
                </div>
                <div class="form-group" style="margin-left: 1px">
                    <button class="btn btn-primary">Ask</button>
                </div>
            </form>
        }
        else
        {
             <h2>The game is closed. You can't ask questions.</h2>
         }
 
    }
</body>